# HelloWorld
First Repository

//Creates new class called HelloWorld
Public Class HelloWorld{
  
  public static void main(String [] args){
  
  //prints Hello World to the screen
  system.out.println("Hello World") 
  }
}
